<app-bread-crumb></app-bread-crumb>

<div class="container my-5">
    <div class="row justify-content-center">
        <img src="../../../assets/images/contact-me.png" class="contactMe-img">
    </div>
    <div class="row justify-content-center information-box">
        <div class="col-7">
            <p>
                +98 939 900 2624
            </p>
            <p>
                <a href="mailto:asal13adib78@gmail.com">asal13adib78@gmail.com</a>
            </p>
        </div>
        <div class="col-12 mt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <a href="https://www.linkedin.com/in/asal-adib-6b0b73214" target="_blank">
                            <img src="../../../assets/images/LinkedIn.png" width="30px">
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="https://github.com/asal1078" target="_blank">
                            <img src="../../../assets/images/github.png" width="30px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
