<app-bread-crumb></app-bread-crumb>

<div class="container my-5">
    <div class="row justify-content-center">

        <div class="col-4 card-col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/isf-uni.jpg" alt="Isfahan University">
                <div class="card-body">
                  <h5 class="card-title">Isfahan University</h5>
                  <p>Computer Science</p>
                  <P>Algorithm and calculation theory</P>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Masters</li>
                </ul>
                <div class="card-body">
                    <a href="https://ui.ac.ir/" class="card-link" target="_blank">Visit Website</a>
                </div>
              </div>
        </div>

        <div class="col-4 card-col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/sku.jpg" alt="Shahrekord University">
                <div class="card-body">
                  <h5 class="card-title">Shahrekord University</h5>
                  <p>computer science</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Bachelor</li>
                </ul>
                <div class="card-body">
                    <a href="https://sku.ac.ir/" class="card-link" target="_blank">Visit Website</a>
                </div>
              </div>
        </div>
   
    </div>
</div>