<app-bread-crumb></app-bread-crumb>


<div class="container my-5">
    <div class="row justify-content-center">

        <div class="col-4 card-col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/nosaz-mohaseb.png">
                <div class="card-body">
                  <h5 class="card-title">Nosaz Mohaseb Sefahan</h5>
                  <p class="card-text">Front End Developer</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">December 2021</li>
                </ul>
                <div class="card-body">
                    <a href="http://nosazco.com/" class="card-link" target="_blank">Visit Website</a>
                </div>
              </div>
        </div>

        <div class="col-4 card-col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/digintus.jpg">
                <div class="card-body">
                  <h5 class="card-title">Digintus</h5>
                  <p class="card-text">UI UX Designer</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">June 2021</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.digintus.com/" class="card-link" target="_blank">Visit Website</a>
                </div>
              </div>
        </div>

    </div>
</div>
