<app-bread-crumb></app-bread-crumb>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 mt-4 my-3">
            <h2 class="mb-4">
                I'm Asal Adib ^_^
            </h2>
            <p>
                A (Junior) Front-End Developer And Ui Ux Designer. 
            </p>
            <p>
                Who Enjoys Solving Problems And Working With Algorithms.
            </p>
            <p>
                I Also Like To Involve Myself In Social Activitis Like Being A Member Of Computer Science Scientific Association For 4 Terms In University.
            </p>
            <p>
                I love Teaching And Transfer My Knowledge And Experiences To Others.
            </p>
            <p>
                I'm Trying To Be The Best Version Of Me In Every Field!
            </p>
        </div>
        <div class="col-8">
            <img src="../../../assets/images/girl.jpg" class="aboutMe-img">
        </div>
    </div>

</div>

